.thumb {
  display: flex;
  position: relative;
  word-break: break-word;

  img {
    width: 100%;
  }

  .multi {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(0, 0, 0, .4);
    padding: var(--pad-xs);
    user-select: none;
  }
}

.thumb.light {
  color: var(--light-text);
}

.thumb.dark {
  color: var(--dark-text);
}
