{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["ded-assets", "./src/ded-assets"],
          ["ded-components", "./src/ded-components"],
          ["ded-constants", "./src/ded-constants"],
          ["ded-context", "./src/ded-context"],
          ["ded-hooks", "./src/ded-hooks"],
          ["ded-routes", "./src/ded-routes"]
        ],
        "extensions": [".js", ".jsx", ".png", ".jpg", ".json"]
      }
    }
  },
  "rules": {
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "quotes": ["error", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "^_$"
    }],
    "arrow-body-style": "off",
    "no-restricted-globals": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-for": "off"
  }
}
