{
  "extends": "stylelint-config-recommended",
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "no-descending-specificity": null,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "mixin",
        "define-mixin",
        "mixin-content"
      ]
    }]
  }
}