.galleryContainer {
  margin-top: var(--pad-md);

  .moreButtonContainer {
    display: flex;
    justify-content: center;
    margin: var(--pad) 0;

    .moreButton {
      bottom: -15px;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .theEndLabel {
    display: block;
    text-align: center;
    padding: var(--pad-md);
    opacity: .75;
  }
}
