.error {
  padding: var(--pad-xs) var(--pad-sm);
  background-color: var(--error);
  color: #FFFFFF;
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.icon {
  height: 24px;
  margin: var(--pad-sm);
}