.error {
  padding: var(--pad) 4rem;
  background-color: #1F66B1;
  color: #FFFFFF;

  .title {
    margin: 0 0 var(--pad) 0;
    font-size: 5rem;
    font-weight: 400;
    display: flex;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
