.wrapper {
  margin-top: var(--header-height);
  padding: var(--pad-lg) var(--pad-xl);
  flex: 1;
  font-size: 1rem;

  &.light {
    background-color: var(--light-bg);
    color: var(--light-text);
  }

  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }
}
