.wrapper {
  padding-top: var(--header-height);
  padding-bottom: var(--header-height);
  flex: 1;
  font-size: 1rem;

  &.light {
    background-color: var(--light-bg);
    color: var(--light-text);
  }

  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }
}
