.imageList {
  overflow-y: hidden;
  height: 0;
  transition: height .4s ease-out;
  margin: 0 var(--pad-sm);
  white-space: nowrap;

  &.hasContent {
    height: 100px;
    overflow-x: scroll;
  }

  :last-child.thumbPreview {
    margin-right: 0;
  }

  .thumbPreview {
    max-height: 100%;
    margin-right: var(--pad-sm);
    padding: var(--pad-sm) 0;
    display: none;
  }

  .thumbLoader {
    margin: 0 var(--pad-sm) 25px var(--pad-sm);
    display: inline-block;
  }
}