.settingsContainer {
  padding-left: var(--pad);

  .settingsList {
    padding-left: var(--pad);

    .checkbox {
      height: 25px;
      font-weight: 500;
      font-size: .8rem;
      display: flex;
      align-items: center;
      margin-bottom: var(--pad);

      label {
        display: flex;
        cursor: pointer;
      }

      input {
        cursor: pointer;
      }
    }
  }
}
