.error {
  padding: var(--pad-sm);
  background-color: var(--error);
  color: #FFFFFF;
  display: flex;
  align-items: center;

  p {
    margin: 0 0 0 var(--pad-xs);
    line-height: 1em;
  }

  svg {
    font-size: 2em;
  }
}
