:root {
  /* Colors */

  --success: #3FB67B;
  --error: #DC3545;
  --link: #1CB0F6;
  --focus: rgba(104, 156, 252, 0.25);

  --light-bg: #F5F5F5;
  --light-text: #222222;
  --dark-text-faded: rgba(0, 0, 0, 0.2);
  --light-header: #FFFFFF;
  --light-border: #E5E5E5;
  --light-element: #FFFFFF;
  --light-hover: #F7F7F7;
  --light-form-border: #CCCCCC;

  --dark-bg: #36393F;
  --dark-text: #DCDDDE;
  --dark-text-faded: rgba(255, 255, 255, 0.2);
  --dark-header: #202225;
  --dark-border: #C5C8C6;
  --dark-element: #2F3136;
  --dark-hover: #4E5258;
  --dark-form-border: #444444;

  /* Sizes */

  --screen-wide: 1456px;
  --screen-lg: 1024px;
  --screen-md: 785px;
  --screen-sm: 476px;

  --pad-xs: .25rem;
  --pad-sm: .5rem;
  --pad-sd: .75rem;
  --pad: 1rem;
  --pad-md: 1.5rem;
  --pad-lg: 2rem;
  --pad-xl: 3rem;

  --border-radius: 4px;
  --modal-size: 450px;
  --header-height: 56px;
  --form-height: 38px;
  --header-icon-size: 34px;
  --menu-width: 350px;

  /* Z-index */

  --z-schedule-plan: 1;
  --z-schedule-expand: 2;
  --z-header: 4;
  --z-timer-button: 7;
  --z-timer: 8;
  --z-menu: 9;
  --z-overlay: 10;
  --z-close-modal: 11;
  --z-login-overlay: 100;
}
